[submodule "scientific-article-collection"]
	path = scientific-article-collection
	url = https://github.com/wisefood/scientific-article-collection
[submodule "wisefood-client"]
	path = wisefood-client
	url = https://github.com/wisefood/wisefood-client
[submodule "wisefood-data-api"]
	path = wisefood-data-api
	url = https://github.com/wisefood/wisefood-data-api
